@page "/{album}/{title?}"

@using Westwind.Utilities
@using Microsoft.AspNetCore.Http
@using AlbumObjects

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Host

@functions {
    public static AlbumData Album { get; set; } = new AlbumData();
    public static SongData song { get; set; }    
}
@{
    var baseSiteUrl = "https://" + Request.Host + "/";

    var title = RouteData.Values["title"] as string;
    var albumName = RouteData.Values["album"] as string ?? "guilty";

    //var t = new Album();
    var rawTitle = title;
    title = title?.Replace("-", " ");
    string json = null;
    string fileName = null;
    string pageUrl = baseSiteUrl.TrimEnd('/') + HttpContext.Request.Path;

    fileName = System.IO.Path.Combine(Host.WebRootPath, "albums", albumName,  "songs.json");
    json = await  System.IO.File.ReadAllTextAsync(fileName);

    Album = JsonSerializationUtils.DeserializeFromFile(fileName, typeof(AlbumData), false) as AlbumData;    

    song = Album.songs.FirstOrDefault(s => s.title.Equals(title, StringComparison.OrdinalIgnoreCase));
    if (song == null)
    {
        song = new SongData();
        song.title = "Song unavailable";        
    }
    else {
        if (!string.IsNullOrEmpty(song.lyrics) && !song.lyrics.Contains("\n")) 
        {
            string lyricsFilename = null;
            try {
                lyricsFilename = System.IO.Path.Combine(Host.WebRootPath, "albums", albumName, song.lyrics);        
                song.lyrics = await System.IO.File.ReadAllTextAsync(lyricsFilename);
            } catch { 
                song.lyrics = "lyrics unavailable "; // + lyricsFilename;
            }
        }
        if (!string.IsNullOrEmpty(song.ImageUrl) && 
            !song.ImageUrl.StartsWith("http") && 
            !song.ImageUrl.StartsWith(".."))
        {
            song.ImageUrl = baseSiteUrl + "albums/" + albumName + "/" + StringUtils.UrlEncode(song.ImageUrl);             
        }
    }

    var downloadFileLink = Album.songBaseUrl + song.file;
    if (song.file != null && song.file.StartsWith("http",StringComparison.OrdinalIgnoreCase)) {
        downloadFileLink = song.file;
    }

    var coverImage = song.coverImageUrl;
    if (!string.IsNullOrEmpty(coverImage) && !coverImage.StartsWith("http"))
        coverImage = "/albums/" + albumName + "/" + coverImage;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1" />

    <title>@title - Anti-Trust (Punk Rock Music)</title>
    <meta http-equiv="keywords" content="Anti-Trust,@title,Guilty,Punk,Hardcore,Metal,Rock,Maui,Hawaii,Oakland,SF,Attitude,Attitude Adjustment,Rick Strahl,Chris Kontos,Andy Andersen,Airborn" />
    <meta http-equiv="description" content="@title (song) by Anti-Trust. @Album.description" />
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png" />
   
    <meta property="og:title" content="@title - Anti-Trust (Punk Rock Music)" />
    <meta property="og:description" content="@title (song) by Anti-Trust. @(song.description ?? Album.description)" />
    <meta property="og:type" content="music.song" />
    <meta property="og:music:song" content="@title" />
    <meta property="og:music:album" content="@albumName" />
    <meta property="og:music:musician" content="Anti-Trust HI(Punk Rock Music)" />
    <meta property="og:url" content="@pageUrl" />

    <meta name="twitter:site" content="@@antitrustHI" />
	<meta name="twitter:creator" content="@@rickstrahl" />
	<meta name="twitter:domain" content="anti-trust.rocks" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- 
        1200 x 628 (summary_large_image) or 1200x1200 (summary)
        https://cards-dev.twitter.com/validator <- no longer works use Tweet Editor
        https://developers.facebook.com/tools/debug/
    --> 
    @if(string.IsNullOrEmpty(song.ImageUrl))
    {
        <meta property="og:image" content="@(baseSiteUrl)albums/@albumName/card-rectangle.png" />
        <meta name="twitter:image" content="@(baseSiteUrl)albums/@albumName/card-rectangle.png" />
    }
    else 
    {
        <meta property="og:image" content="@(song.ImageUrl)" />
        <meta name="twitter:image" content="@(song.ImageUrl)" />
    }
    <meta property="og:image:alt" content="Anti-Trust @albumName cover image" />

    <link rel="stylesheet" href="/album.css?v1.1.6" />
    <link rel="stylesheet" href="/song.css?v1.1.6" />
    <link rel="stylesheet" href="/lib/fontawesome/css/all.css"></script>    
    	<script>
        if (location.host === "americanparanoia.com")
        {
            window.location.href= baseSiteUrl + location.pathname;                        
        }        
    </script>
    <style>
        .page-container {
            @if(string.IsNullOrEmpty(song.ImageUrl)) 
            {   
                <text>         
                background-image: url(/albums/@albumName/coverImage.jpg);
                </text>
            }
            else {
                <text>
                background-image: url(@song.ImageUrl);
                </text>
            }
        }
    </style>
</head>
<body>
    <div class="toolbarcontainer">
        <a href="../@albumName" class="hoverbutton"><i class="fas fa-play text-green" style="color: green"></i> Songs</a>         
        <a href="https://github.com/RickStrahl/anti-trust-guilty-album" class="hoverbutton hidden-sm" 
           title="Download album or songs for free"><i class="fas fa-cloud-download-alt" style="color: lightgray"></i> Download</a> 
        <a href="/stream" class="hoverbutton" title="Listen or buy on Spotify, Amazon, Apple Music or YouTube"><i class="fas fa-cloud-music"  style="color: steelblue"></i> Stream</a> 
        <a href="https://store.west-wind.com/product/ANTITRUST_GUILTY_CD" class="hoverbutton" title="Buy a physical CD you can hold in your hand"><i class="fas fa-compact-disc" style="color: goldenrod"></i> CD</a>         
        <a href="/t-shirt/readme.md" class="hoverbutton hidden-sm" title="T-Shirts and Merch"><i class="fas fa-tshirt hidden-sm" style="color: darkgoldenrod"></i> T-Shirt</a>
        <a href="https://www.facebook.com/profile.php?id=61560707882462" class="hoverbutton" title="Follow us on Facebook" target="_blank"><i class="fa-brands fa-square-facebook text-info" style="font-size: 1.2em"></i> Follow</a>
        <a href="/about" class="hoverbutton" title="Find out more about Anti-Trust and the making of the Guilty album"><i class="fas fa-info-circle" style="color: steelblue"></i> About</a>
    </div>
    
    <div class="page-container"></div>
        
    <div class="container" id="Body">
        <div style="margin: 0 auto;">   
            <a class="audio-player" onclick="player.startStop()" title="Play song: @song.title">
                <i class="play-icon far fa-play-circle"></i>
            </a>

            @if (!song.dontShowTitle) {
                <div class="song-title">@Html.Raw(song.title)</div>                        
            }
            <div class="song-info">  

              <table class="table">
                    <tr>
                        <td>time</td>
                        <td>@song.playTime minutes</td>
                    </tr>
                    <tr>
                        <td>instigators</td>
                        <td>@song.credits</td>
                    </tr>
                    <tr>
                        <td>suspects</td>
                        <td>@song.players</td>
                    </tr>
                    @if(song.lastUpdated > DateTime.MinValue) {
                        <tr>
                            <td>last update</td>                        
                            <td>@song.lastUpdated.ToString("MMM dd, yyyy")</td>
                        </tr>
                    }
                    <tr>

                    </tr>
                </table> 

                @if(!string.IsNullOrEmpty(song.Notification)) {
                <div class="song-notification" style="display: flex; margin-top: 0.4em;">            
                    <i class="fas fa-info-circle  d-block" style="color: rgb(146, 18, 18); font-size: 2em; margin-top: 0.25em; margin-right: 0.35em; "></i> 
                    <div>
                        <markdown>@song.Notification</markdown>
                    </div>                        
                </div>
                }



             @if(song.embeddedVideoUrl != null) {
                <hr style="margin: 1em 0 0.5em" />
                <div style="position: relative; width: 100%; padding-bottom: 56.25%">
                <iframe src="@song.embeddedVideoUrl" 
                        title="@song.title" frameborder="0" allowfullscreen
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        style="position: absolute; width: 100%; height: 100%;">
                </iframe>
                </div>
            }


                <hr style="margin: 1em 0 0.5em" />
               
        

                <span class="icon-bar"> 
                    @{
                        var postText = $"Check out the song '{title}'\nby Anti-Trust\n\n" + 
                                         $"{pageUrl}\n" + 
                                          "#PunkRock @AntiTrustHI";
                        var twitterUrl = "https://twitter.com/intent/tweet?text=" +
                                      System.Net.WebUtility.UrlEncode(postText);                        
                        var facebookUrl = $"https://www.facebook.com/sharer.php?&u={pageUrl}";
                    }                       
                                   
                    <a title="Share on Twitter"  href="@twitterUrl" target="_blank"><i class="fab fa-twitter" style="color: #55acee"></i></a>                                        
                    <a title="Share on Facebook"  href="@facebookUrl" target="_blank"><i class="fab fa-facebook" style="color: #3b5998"></i></a>  

                   
                    <a title="Download Song" href="@downloadFileLink"><i class="fas fa-cloud-download"  style="color: #eee;padding-left: 1em;"></i></a>     
                    <a title="Download Album" href="https://github.com/RickStrahl/anti-trust-guilty-album" target="_blank"><i class="fad fa-album" style="color: darkgoldenrod"></i></a>                                             
                    <a title="Buy Album" href="https://store.west-wind.com/product/antitrust_guilty_cd" target="_blank" style="padding-right: 1em"><i class="fas fa-money-bill-wave" style="color: green; font-size: 0.8em"></i></a> 


                    <a title="Stream album on your favorite music streaming service" href="https://anti-trust.rocks/stream" target="_blank"><i class="fas fa-cloud-music" style="color: steelblue"></i></a>

                    @if(!string.IsNullOrEmpty(song.spotifyUrl)) 
                    {
                    <a href="@song.spotifyUrl" title="listen to song on Spotify" target="_blank"><i class="fab fa-spotify" style="color: green" ></i></a>
                    }
                    
                    @if(!string.IsNullOrEmpty(song.appleUrl)) {
                    <a href="@song.appleUrl" title="listen or buy song on Apple Music" target="_blank"><i class="fab fa-apple" style="color: #eee"></i></a>
                    }

                    @if(!string.IsNullOrEmpty(song.amazonUrl)) {
                    <a href="@song.amazonUrl" title="listen or buy song on Amazon Music" target="_blank"><i class="fab fa-amazon" style="color: goldenrod" ></i></a>
                    }

                     @if(!string.IsNullOrEmpty(song.googleUrl)) {
                    <a href="@song.googleUrl" title="listen to song on You Tube or Google Music" target="_blank"><i class="fab fa-youtube" style="color: red" ></i></a>
                    }
                </span>
            </div>           

            <pre class="lyrics">@song.lyrics</pre>

            @if(!string.IsNullOrEmpty(song.lyricNotes)) {            
            <div class="lyric-notes">
                <markdown>@song.lyricNotes</markdown>
            </div>
            }

            @if(!string.IsNullOrEmpty(coverImage)) {
            <img src="@coverImage" style="max-width: 100%;margin-top: 1em" alt="@song.title song cover image"/>
            }
    
            <hr/>

            <footer>
                <div style="float: right; color: #aaa; padding-bottom:1em;">
                    <small>&copy; Anti-Trust, 2002-@DateTime.Now.Year</small>
                </div>

                <div>
                    <img src="/favicon-32x32.png" />
                </div>
            </footer>
        </div>
    </div>

    <audio class="player">
    </audio>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="/album.js"></script>
    <script>                
        window.Globals = {
            songToPlay: "@downloadFileLink"
        }
    </script>
<script src="/song.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2RDXT6T2DM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2RDXT6T2DM');
</script>

</body>
</html>